<!DOCTYPE html>
<html>
	<head>
		<title>Amber Robocar Poli</title>
		<meta enctype='utf-8'/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="Amber.css">
	</head>
	<body>
		<h1>Adakah Amber di sini?</h1>
		<h2>Tidak ada. Hilang dia.</h2>
		<h3>Lalu di belakangmu...</h3>
		<p>Sebentar.... Lha kok ada Amber di sini.</p>
		<a href='#Everest' class="a_Amber">Inikah?</a><br/>
		<a href="//nasihosting.com" class="button Amber">Amber</a><a href="//nasihosting.com" class="button Zuma">Zuma</a><a href="//nasihosting.com" class="button Everest">Everest</a>
	</body>
</html>