/* Imporlah. Sebentar. Amber menghilang! */


/* Oklah Amber Robocar Poli. Sudahlah tak perlu itu. Ini bagian tubuh. */
body {
        color: white;
        word-wrap: break-word;
		width: 1.0;
        font-family: 'Noto Sans', 'Segoe UI', Arial, Tahoma, sans-serif;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-repeat: no-repeat;
        font-size: 140%;
        background-attachment: fixed;
        background-size: cover;
}

h1 {
		font-size: 175%;
}

h2 {
		font-size: 163%;
}

h3 {
		font-size: 150%;
}

/* Komponen tambahan dalam skrip. Amber pasti bisa. Ya kan jago ngoding. 
Tombol-tombol pada skip untuk elemen HTML atau PHP. */
        
	.button {
		font-size: 89%;
		border: none;
		color: white;
		padding: 1.2%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 0.1%;
		transition-duration: 0.4s;
		cursor: pointer;
	}

		.Amber {
			background-color: #111; 
			color: auto; 
			border: 2px solid #e60073;
		}

		.Amber:hover {
			background-color: #ff8080;
			color: auto;
		}

		.Everest {
		background-color: #111; 
		color: auto; 
		border: 2px solid #00cccc;
		}

		.Everest:hover {
		background-color: #00cccc;
		color: auto;
		}

		.Zuma {
		background-color: #111; 
		color: auto; 
		border: 2px solid #ff8000;
		}

		.Zuma:hover {
		background-color: #ff8000;
		color: auto;
		}
		
/* URL dengan tak ada garis bawah kecuali kursor mouse untuk hover/sentuhan */
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.a_Amber {
		text-decoration: none;
		color: #FFB6C1;
	}
	.a_Amber:hover {
		text-decoration: underline;
	}