/* Kompabilitas */
@import url('HuTao.css');

/* HTML dengan elemen yang diubah */
html {font-size:125%; font-family: sans-serif;color: white; background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5), rgb(0, 0, 0, 0.3)), url('../img/bagian/utama/utama.jpg');background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed; }
h1,h2,h3,h4,h5,h6,h7,h8,h9,h10 {font-family: serif;} a {color: aqua;} a:hover {color: blue;}
/* Flex yang dimaksud ialah tampilan tabel */
.flex-container { display: table; table-layout: fixed; width: 100%; } .flex-Amber { display: table-cell; order: 0; padding: 10px; } .flex-AmberFX { display: table-cell; position: relative; order: 1; padding: 20px; }
/* Bagian Menu */
#menu { min-height:40px; padding:15px 15px; background:transparent; border-bottom:4px #FFF solid; } #menudaftar { display:block; list-style:none; margin:0; padding:0; text-align:right; } #menudaftar li { display:inline-block; line-height:12px; padding:10px 10px 0; } #menudaftar li a { font-weight:bold; text-decoration:none; }
/* Pengkodean maupun skrip dengan font monospace */
pre { display:table; margin: 9px 9px 9px 9px; white-space: pre-wrap; font-family:monospace; font-weight:bold; font-size: 150%; white-space: pre-wrap; } highlight { display:block; margin: 9px 9px 9px 9px; max-width: 99%; } highlight.pre { font-family: monospace; font-weight:bold; font-size: 150%; word-wrap:break-all; }
/* Layar yang resolusi maksimal lebar 800px */
@media screen and (max-width: 800px) {
.flex-container { flex-direction: column; flex-wrap: nowrap; justify-content: normal; align-items: normal; align-content: normal; margin: 10px 10px 10px 10px; max-width: 99%; }
.flex-Amber { display: block; flex-grow: 0; flex-shrink: 1; flex-basis: auto; align-self: auto; order: 0; margin: 10px 10px 10px 10px; }
.flex-AmberFX { display: block; flex-grow: 0; flex-shrink: 1; flex-basis: auto; align-self: auto; order: 1; margin: 10px 10px 10px 10px; }
}
/* Layar yang resolusi minimal lebar 800px */
@media screen and (min-width: 800px) {
.flex-Amber { width: 400px; }
}
